html{
    width: 1536px;
}
*{
    margin: 0px;
    padding: 0px;
}
h1 {
    font-style: oblique;
    font-family: 华文行楷;
    text-align: center;
    font-size: 80px;
    color: gray;
    text-shadow: 5px 5px 5px black;
    letter-spacing: 100px;
    position: absolute;
    left: 500px;;
}
/*#bg{*/
    /*background-image: url("/img/timg.jpg");*/
/*width: 1536px;*/
/*height: 800px;*/
/*}*/
body {
    margin: 8px;
    background-image: url("../img/timg.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: 1536px 800px;
    background-size: 1536px 800px;
    width: 1536px;
    height: 800px;
}

#title {
    width: 1536px;
    height: 100px;
}


p {
    font-family: 华文行楷;
    font-size: 50px;
    text-shadow: 5px 5px 5px #d3c5ff;
    color: #FF0000;
}

#content {
    width: 800px;
    height: 250px;
    position: absolute;
    left: 600px;
    margin: 50px;
}

#p1 {
    position: absolute;
    left: 50px;
}

#p2 {
    position: absolute;
    left: 150px;
    top: 100px;
}

#p3 {
    position: absolute;
    left: 250px;
    top: 200px;
}

#p4 {
    position: absolute;
    left: 350px;
    top: 300px;
}

#p5 {
    position: absolute;
    left: 150px;
    top: 400px;
}
#addForm{
    position: absolute;
    left: 500px;
    top: 350px;
    font-family: 华文行楷;
    font-size: 50px;
    text-shadow: 5px 5px 5px #d3c5ff;
    color: #FF0000;
}
#reduceForme{
    position: absolute;
    left: 500px;
    top: 400px;
    font-family: 华文行楷;
    font-size: 50px;
    text-shadow: 5px 5px 5px #d3c5ff;
    color: #FF0000;

}
.button{
    background-color: #4CAF50;
    border: #FF0000;
    color: red;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 华文行楷;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    border: 2px solid #eae7d4;
    border-radius: 20px;
}
.button:hover {
    background-color: #eae7d4;
    color: white;
}
.text{
    border-radius: 20px;
    size: 7px;
    width: 55px;
    height: 25px;
}

